<html>
<head>
	<title>Sudoku Game</title>
	<link href="/stylesheets/application.css" rel="stylesheet" type="text/css">
	</head>
	<body>
	<p><img src="http://img-s3-01.mytextgraphics.com/sparklee/2014/03/19/b540396d886e0e61f67b520234d1638e.gif">
	<div id="flash">
		<%= flash[:notice] %>
	</div>
	<p><img width= 400px src="http://media.thedailytouch.com/2013/12/home-alone-feature.jpg"></p>
	<p><img src="../images/cat-190.gif"></p>
	<div id="sudoku">	
	<form action="/" method="post">
		<% 3.times do |row| %>
			<div class='row'>
			<% 3.times do |box| %>
				<div class="box">
				<% 3.times do |cell_row| %>
					<div class="cell-row">
  					<% 3.times do |cell| %>
  <%= partial :cell, :locals=>{:cell_index => row*27+box*3+cell_row*9+cell} %>

           		<% end %>
            </div>
           <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
    <p><img src="../images/chicken-ani.gif">
			<button>Check Solution</button><img src="../images/chicken-ani.gif"></p>
		</form>	
		<form action="/restart" method="post">
		<p><button name="diffulculty" value="1">Easy</button><button name="diffulculty" value="2" >Medium</button> <button name="diffulculty" value="3" >Hard</button></form>
  </div>
<iframe width="420" height="315" src="http://www.youtube.com/v/Nr0fXkRh9IQ?&autoplay=1&loop=1?&playlist=Nr0fXkRh9IQ" frameborder="0" allowfullscreen></iframe>
</body>
</html>