div.box, div.cell {
	display: inline-block;
}

.cell input {
	width: 30px;
	height: 30px;
	opacity: 0.5;
	font-size: 
}

#sudoku {
	font-size: 0;
	text-align: center;
}

body {
	text-align: center;
	font-family: Arial;
	background-image: url("../images/patriotic_eagle_tank.jpg");

}

h1 {
	font-family: 'Comic Sans';
}

.incorrect {
	background-color: yellow;
}

.value-provided {
	background-color: #DDD;
}

#flash {
	margin:20px;
}

.box {
	outline: 3px solid #000000;
}